<!DOCTYPE html>
<html>
  <head>
    <title>SHOP PROJECT</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/<%= process.env.ADMIN_PATH %>/css/style.css" />
  </head>

  <body>
    <header class="header">
      <div class="logo"></div>
	   <a href="<%= `/${process.env.ADMIN_PATH}/auth/logout` %>">LOGOUT</a>
    </header>
    <div class="container"><%- body %></div>
  </body>
</html>
